body {
    margin: 0;
    background: #1a1a1a;
    color: #ffffff;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    padding-top: 1em;
    font-size: 2.5em;
}

.dropdown-menu {
    padding: 5em 26em 5em 26em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}